#form_fields{
    display: none;
}

.range_field{
    width: 80px;
}

.node_detail{
    margin: 4px;
    border: 1px solid #eee;
    overflow: auto;
    width: 32%;
    height: 100px;
}

.node_detail_label{
    padding: 4px;
    background-color: #eee;
    font-weight: bold;
}

.node_detail_text{
    padding: 4px;
}

#TrialModal.modal,
#MapModal.modal{
  width: 90% !important;
  heigth: 90% !important;
  left: auto !important;
  margin-left: auto !important;
}

#TrialModal.modal-body,
#MapModal.modal-body{
  max-height: 600px !important;
  color: #000;
}

#TrialModal.modal-body .container,
#MapModal.modal-body .container{
  width: 100% !important;
}

#TrialModal .node_detail_text{
    color: #fff;
}

#TrialModal .node_detail_label{
    color: #000 !important;
}
#TrialModal .accordion-heading .accordion-toggle{
    display: inline-block !important;
}

#embedded_content{
    
}

.distinct_key{
    float: left;
    margin-left: 15px;
}

.distinct_value{
    float: right;
}