<div class="modal hide fade" id="SliderModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal-header">
        <div class="modal_menu">
          <h3><i class="icon-bookmark"></i> Show in Slider</h3>
          <a class="pull-right top_menu" data-dismiss="modal" href="#"><i class="icon-remove icon-white"></i></a>
        </div>
      </div>
      <div class="modal-body">
        <div style="background: transparent url({{ asset('bundles/bioversityontology/images/loader.gif') }}) no-repeat">
          <div id="embedded_content"></div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>