<div class="modal hide fade" id="SliderModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h2>Show in Slider</h2>
      </div>
      <div class="modal-body">
        <div style="background: transparent url({{ asset('bundles/bioversityontology/images/loader.gif') }}) no-repeat">
          <div id="embedded_content"></div>
        </div>
        <!--
          <img id="loader" src="{{ asset('bundles/bioversityontology/images/loader.gif') }}" />
          <div id="embedded_content"></div>
        -->
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>