{% block _OntologyTerm_10_widget %}
    <div class="text_widget">
        {{ block('field_widget') }}
        <a
           id="create_namespace"
           href="{{ path('bioversity_ontology_modal_namespace_new') }}"
           class="btn btn-small"
           target="_blank">Create new Namespace</a>
    </div>
{% endblock %}