<div class="form-actions">
    <input id="{{ form_id }}_select" class="btn btn-info" type="submit" value="Select This one" />
    <input id="{{ form_id }}_save" class="btn btn-info" type="submit" value="Save new one" />
    <input id="{{ form_id }}_clear" class="btn btn-info" type="button" value="Clear fields" />
    <input id="{{ form_id }}_cancel" class="btn btn-info" type="button" value="Cancel" />
</div>