<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Bioversity Internation TIP{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
        {% stylesheets
          '@BioversityOntologyBundle/Resources/public/css/bootstrap.css'
          '@BioversityOntologyBundle/Resources/public/css/style.css'
          '@BioversityOntologyBundle/Resources/public/css/bootstrap-responsive.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css">
        {% endstylesheets %}
    {% endblock %}
    
    {% block javascripts %}
        {% javascripts 
            '@BioversityOntologyBundle/Resources/public/js/jquery.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-transition.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-alert.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-modal.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-dropdown.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-scrollspy.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-tab.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-tooltip.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-popover.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-button.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-collapse.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-carousel.js'
            '@BioversityOntologyBundle/Resources/public/js/bootstrap-typeahead.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts  %}
    {% endblock %}
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="hasGoogleVoiceExt">
    {% if is_granted('ROLE_USER') %}
      {% include '::form_edit_profile.html.twig' %}
    {% else %}
      {% include '::form_registration.html.twig' %}
      {% include '::form_login.html.twig' %}
    {% endif %}
    
    {% include '::menuhead.html.twig' %}
    
    <div class="container">
      
      {% include '::error.html.twig' %}
    
      {% block body %}{% endblock %}
      
    </div>
    {% include '::footer.html.twig' %}
  </body>
</html>