{% include '::footerModal.html.twig' %}

<div class="clear"></div>

<div id="footer">
  <div class="container">
    <a data-target="#footer_menu" data-toggle="collapse" class="btn btn-navbar">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
      
    <div id="footer_menu" class="nav-collapse collapse" style="height: 0px;">
      <p>All content on the database is protected by the <a target="_blank" href="http://eurisco.ecpgr.org/about/data_policy/terms_of_use.html">Term of Use</a></p>
      <table>
        <tbody>
          <tr>
            <td width="10%" valign="top">
              <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
                <img alt="Creative Commons Licence" style="border-width: 0pt;" src="http://creativecommons.org/images/public/somerights20.png">
              </a>
            </td>
            <td width="90%">
              <p>
                <small>All content on this website is protected by a Creative Commons Attribution Non-Commercial No Derivatives license. This license allows others to download works from this website and share them with others as long as they mention and link back to this website, but they can't change them in any way or use them commercially.</small>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>