<div class="navbar">
  <div class="navbar-inner menu_top_inner">
    
    <div class="container">
      <!--
      <div id="tip_logo">
        <img src="{{ asset('images/TIP-logo.gif') }}" />
      </div>
      -->
      
      <a class="brand" href="{{ path('bioversity_site_structure_homepage') }}">
      <!--
        <strong>T</strong>rait<br/>
        <strong>I</strong>nformation <br/>
        <strong>P</strong>ortal
      -->
        <strong>T</strong><em>rait</em> <strong>I</strong><em>nformation</em> <strong>P</strong><em>ortal</em>
        <span class="beta_release">beta 0.1</span>
      </a>
      
      <div class="first_row">  
        {% include '::menuModal.html.twig' %}
        {% include '::login.html.twig' %}
        {% include '::search.html.twig' %}
      </div>
    </div>
  </div>
</div>