<div class="control-group">
  <label class="control-label" for="addField">Add</label>
  <div class="controls">
    <a id="addField" class="btn btn-info" data-toggle="modal" href="#">New Field</a>
  </div>
</div>