{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    {% include('credential_request.twig') %}
    <h2>Notepad</h2>
    <p>
      There you can remanage your note
    </p>
    
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}