{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#rA">Information by Trait</a></li>
        <li class=""><a data-toggle="tab" href="#rB">Information by Species</a></li>
        <li class=""><a data-toggle="tab" href="#rC">Information by Country</a></li>
      </ul>
      <div class="tab-content">
        <div id="rA" class="tab-pane active">
          <button class="btn lengh_btn">Trait table</button>
          <button class="btn lengh_btn">Detailed information for 1 trait</button>
          <button class="btn lengh_btn">Species table for several traits</button>
        </div>
        <div id="rB" class="tab-pane">
          <button class="btn lengh_btn">Accepted species table</button>
          <button class="btn lengh_btn">Detailed information for species. Please select the first character of the species of interest:</button>
          <button class="btn lengh_btn">Traits table for several species</button>
        </div>
        <div id="rC" class="tab-pane">
          <button class="btn lengh_btn">Global site map</button>
          <button class="btn lengh_btn">Country based queries</button>
        </div>
      </div>
    </div>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}