{% extends frontend_layout %}

{% block body %}  
  <div class="span9">
    <button class="btn lengh_btn">Species name and authors</button>
    <button class="btn lengh_btn">Synonyms Non-accepted species names</button>
    <button class="btn lengh_btn">Vernacular names</button>
    <button class="btn lengh_btn">Cultivated status</button>
    <button class="btn lengh_btn">Type of introduction</button>
    <button class="btn lengh_btn">CWR checklists</button>
    <button class="btn lengh_btn">Economic category</button>
    <button class="btn lengh_btn">Ethnobotanical uses</button>
    <button class="btn lengh_btn">Global distribution (map)</button>
    <button class="btn lengh_btn">National distribution</button>
    <button class="btn lengh_btn">Ex situ conservation status</button>
    <button class="btn lengh_btn">In situ conservation status</button>
    <button class="btn lengh_btn">Legislation</button>
    <button class="btn lengh_btn">Threat assessment</button>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}