{% extends frontend_layout %}

{% block body %}  
  <div class="span9">
    <button class="btn lengh_btn" disabled>Species name and authors</button>
    <button class="btn lengh_btn" disabled>Synonyms Non-accepted species names</button>
    <button class="btn lengh_btn" disabled>Vernacular names</button>
    <button class="btn lengh_btn" disabled>Cultivated status</button>
    <button class="btn lengh_btn" disabled>Type of introduction</button>
    <button class="btn lengh_btn" disabled>CWR checklists</button>
    <button class="btn lengh_btn" disabled>Economic category</button>
    <button class="btn lengh_btn" disabled>Ethnobotanical uses</button>
    <button class="btn lengh_btn" disabled>Global distribution (map)</button>
    <button class="btn lengh_btn" disabled>National distribution</button>
    <button class="btn lengh_btn" disabled>Ex situ conservation status</button>
    <button class="btn lengh_btn" disabled>In situ conservation status</button>
    <button class="btn lengh_btn" disabled>Legislation</button>
    <button class="btn lengh_btn" disabled>Threat assessment</button>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}