{% extends frontend_layout %}

{% block body %}  
  <div class="span9">
    <button class="btn lengh_btn">INVENTORY IDENTIFICATION</button>
    <button class="btn lengh_btn">TAXON IDENTIFICATION</button>
    <button class="btn lengh_btn">LANDRACE/POPULATION IDENTIFICATION</button>
    <button class="btn lengh_btn">SITE/LOCATION IDENTIFICATION</button>
    <button class="btn lengh_btn">THE FARMER (I.E. THE MAINTAINER)</button>
    <button class="btn lengh_btn">THE LANDRACE</button>
    <button class="btn lengh_btn">CONSERVATION AND MONITORING</button>
    <button class="btn lengh_btn">REMARKS</button>
    <button class="btn lengh_btn">Species name and authors</button>
    <button class="btn lengh_btn">Synonyms Non-accepted species names</button>
    <button class="btn lengh_btn">Vernacular names</button>
    <button class="btn lengh_btn">Cultivated status</button>
    <button class="btn lengh_btn">Type of introduction</button>
    <button class="btn lengh_btn">CWR checklists</button>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}