{% extends frontend_layout %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/arbor.js" type="text/javascript" language="javascript"></script>
  <script src="/js/arbor-tween.js" type="text/javascript" language="javascript"></script>
  <script src="/js/graphics.js" type="text/javascript" language="javascript"></script>
  <script src="/js/renderer.js" type="text/javascript" language="javascript"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div>
        {% include 'data_menu.twig' %}
        <div class="span9">
          <div class="sidewell"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}