{% extends frontend_layout %}

{% block body %}  
  <div class="row">
    <div class="span12">
      <div>
        <div class="span9">
          <div class="sidewell">
            <div class="span3">
              <p><button class="btn lengh_btn">INVENTORY IDENTIFICATION</button></p>
              <p><button class="btn lengh_btn">TAXON IDENTIFICATION</button></p>
              <p><button class="btn lengh_btn">LANDRACE/POPULATION IDENTIFICATION</button></p>
              <p><button class="btn lengh_btn">SITE/LOCATION IDENTIFICATION</button></p>
              <p><button class="btn lengh_btn">THE FARMER (I.E. THE MAINTAINER)</button></p>
              <p><button class="btn lengh_btn">THE LANDRACE</button></p>
              <p><button class="btn lengh_btn">CONSERVATION AND MONITORING</button></p>
              <p><button class="btn lengh_btn">REMARKS</button></p>
              <p><button class="btn lengh_btn">Species name and authors</button></p>
              <p><button class="btn lengh_btn">Synonyms Non-accepted species names</button></p>
              <p><button class="btn lengh_btn">Vernacular names</button></p>
              <p><button class="btn lengh_btn">Cultivated status</button></p>
              <p><button class="btn lengh_btn">Type of introduction</button></p>
              <p><button class="btn lengh_btn">CWR checklists</button></p>
            </div>
            <div class="span5">
              Cras malesuada elit at tortor dignissim vitae viverra odio ornare. Sed feugiat sapien eget nulla pulvinar pulvinar. Aliquam erat volutpat. Pellentesque suscipit, augue id pellentesque aliquam, purus augue euismod mauris, sit amet ornare augue augue eget nunc. Suspendisse vel odio et diam condimentum aliquet
            </div>
          </div>
        </div>
        {% include 'data_menu.twig' %}
      </div>
    </div>
  </div>
{% endblock %}