{% extends frontend_layout %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div>
        {% include 'data_menu.twig' %}
        <div class="span9">
          <div class="sidewell"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}