{% extends frontend_layout %}

{% block body %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row">
    <div class="span2">
      <div id="logo_conteiner" class="sidewell">
        <img src="/img/TIP-logo.gif" />
      </div>
    </div>
    <div class="span10">
      <div class="sidewell">
        <h3>Contact</h3>
        <ul class="thumbnails">
          <li>
            <img src="/img/avatar_7.jpg" />
            <label> Project Coordination</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_6.jpg" />
            <label> Project Coordination</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_5.jpg" />
            <label> Content and Science</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_4.jpg" />
            <label> Database Management</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_3.jpg" />
            <label> Technical Issues</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_2.jpg" />
            <label> Database Management</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
          <li>
            <img src="/img/avatar_1.jpg" />
            <label> Web Administration</label>
            <p><i class="icon-user"></i>Firstname Lastname <i class="icon-envelope"></i><a href="#mailto" title="send email">email@apress.com</a></p>
          </li>
        </ul>
      </div>
      
      <div class="sidewell">
        <h3>Feedback</h3>
        <p>
          If you've found or this web site useful or would like to send any comment on the TIP initiative please e-mail us or provide feedback in the forum below. We'd like to know how the TIP website is being used.<br/>
          If you have cited the TIP initiative in a publication, please send us that reference. This will help to document that the TIP initiative has value, and will help if / when we look for apitional funding.<br/>
          Thank you.
        </p>
      </div>
      
      <div class="sidewell">
        <h3>Forum</h3>
        <p><a href="#" title="TipForum">Here</a> you can participate in the discussion (Registration required).</p>
      </div>
    </div>
  </div>
{% endblock %}