{% if not app.session.get('user') %}
  <div class="alert alert-block">
    <h3>Warning!</h3>
  </div>
  To upload your data you need to:&nbsp;
  <button class="btn btn-info dropdown-toggle" data-toggle="modal" href="#LoginModal">
    <span>Login</span>
  </button>
  &nbsp;or&nbsp;
  <button class="btn btn-info dropdown-toggle" data-toggle="modal" href="#RegistrationModal">
    <span>Register</span>
  </button>
  <hr>
{% endif %}