{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    <h3>Welcome to your Dashboard,</h3>
    <br/>
    There you can manage/upload your file
    <br/>
    <br/>
    <a href="{{ path('download_data') }}" class="btn lengh_btn">Download Data</a>
    <a href="{{ path('contribute_data') }}" class="btn lengh_btn">Contribute Data</a>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}