{% extends frontend_layout %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div>
        {% include 'left_side.twig' %}
        <div class="span8">
        </div>
      </div>
    </div>
  </div>
{% endblock %}