{% extends frontend_layout %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/arbor.js" type="text/javascript" language="javascript"></script>
  <script src="/js/arbor-tween.js" type="text/javascript" language="javascript"></script>
  <script src="/js/graphics.js" type="text/javascript" language="javascript"></script>
  <script src="/js/renderer.js" type="text/javascript" language="javascript"></script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="span12">
      <div>
        {% include 'left_side.twig' %}
        <div class="span6">
          <canvas height="350" width="570" id="viewport" class="span6"></canvas>
  <script src="/js/arbor_setup.js" type="text/javascript" language="javascript"></script>
        </div>
        <div class="span2">          
          <div class="span2 sidewell">
            <h2>LR</h2>
            <p><a class="btn btn-primary btn-large" href="{{ path('add_tag') }}">Browse data</a></p>
          </div>
          <div class="span2 sidewell">
            <h2>CWR</h2>
            <p><a class="btn btn-primary btn-large" href="{{ path('add_tag') }}">Browse data</a></p>
          </div>
          <div class="span2 sidewell">
            <h2>TRAIT</h2>
            <p><a class="btn btn-primary btn-large" href="{{ path('add_tag') }}">Browse data</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}