<div class="span2 sidewell">
  <div class="wellfb">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#">Datasets</a></li>
      <li><a href="#">Data Search</a></li>
      <li><a href="#">Download Data</a></li>
      <li><a href="#">Request Data</a></li>
      <li><a href="#">Contribute Data</a></li>
    </ul>
  </div>
  <img src="/img/TIP.gif" />
</div>