{% extends frontend_layout %}

{% block body %}  
  <div class="row">
    <div class="span12">
      <div>
        <div class="span9">
          <div class="sidewell">
            <h2>Datasets</h2>
            <p>
              List of data sets + name of institutes+ details (traits, species, map), curator
            </p>
          </div>
        </div>
        {% include 'data_menu.twig' %}
      </div>
    </div>
  </div>
{% endblock %}