{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    <ul class="thumbnails">
      <li class="span3">
        <a href="{{ path('browse_landrace') }}" class="thumbnail">
          <img src="/img/landrace.jpg" alt="">
          <h3>LANDRACE</h3>
        </a>
      </li>
      <li class="span3">
        <a href="{{ path('browse_cwr') }}" class="thumbnail">
          <img src="/img/cwr.jpg" alt="">
          <h3>CROP WILD RELATIVE</h3>
        </a>
      </li>
      <li class="span3">
        <a href="{{ path('browse_trait') }}" class="thumbnail">
          <img src="/img/trait.jpg" alt="">
          <h3>TRAIT</h3>
        </a>
      </li>
    </ul>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}