{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    <h2>TIP Download Data</h2>
    <p>
      The following datasets are publicly available and can directly be downloaded. Data use is according to the TIP Use Data Policy.
      <br/>
      The data available in these datasets have …………………………text to be defined…………………
      <br/>
      Some of these datasets are original datasets, as contributed to the TIP Portal. If you would like to access these data with additional information, standardization and quality checks, please submit a data request
    </p>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}