<!-- ------------------------------------------------------------------------- --
-- MODAL PROFILE															   --
-- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="ProfileModal">
  <form class="form-horizontal" data-bind="submit: userProfileSubmit" action="{{ path('edit_profile') }}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>User Profile</h3>
    </div>

    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="username">Email</label>
        <div class="controls">
          <input required
                 class="input-xlarge"
                 type="text"
                 id="userName"
                 name="username"
                 placeholder="email@exemple.com"
                 value="{{ app.session.get('user').username}}" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input class="input-xlarge"
                 type="password"
                 id="userPass"
                 name="password"
                 placeholder="Password"/>
        </div>
        <div class="controls">
          <small><em>Leave blank to keep old password.</em></small>
        </div>
      </div>
    
      {#{% include 'add_field.twig' %}#}
    
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button class="btn-small btn-primary" type="submit">
        <i class="icon-user icon-white"></i>Submit
      </button>
    </div>

    <div class="alert alert-error fade in hide" id="userProfile_MissingName">
      <strong>You must provide your full name.</strong>
    </div>
    <div class="alert alert-error fade in hide" id="userProfile_MissingEmail">
      <strong>You must provide an e-mail.</strong>
    </div>
  </form>
</div>
<!--/.ProfileModal -->