

<!-- ------------------------------------------------------------------------- --
-- MODAL REGISTRATION															   --
-- ------------------------------------------------------------------------- -->
<div class="modal hide fade" id="RegistrationModal">
  <form class="form-horizontal" data-bind="submit: userProfileSubmit" action="{{ path('registration') }}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>User Registration</h3>
    </div>

    <div class="modal-body">
      <div class="control-group">
        <label class="control-label" for="username">Email</label>
        <div class="controls">
          <input required
                 class="input-xlarge"
                 type="text"
                 id="userName"
                 name="username"
                 placeholder="email@exemple.com"/>
        </div>
      </div>
      <div class="control-group">
          <label class="control-label" for="password">Password</label>
          <div class="controls">
              <input required
                     class="input-xlarge"
                     type="password"
                     id="userPass"
                     name="password"
                     placeholder="min 6 letter"/>
          </div>
      </div>
    
      {% include 'add_field.twig' %}
    
      <p>
        <small>
          Registration does not make you a member of TIP, but allows you to download data and access to certain parts of the TIP website.
          <br/>
          A way to become a member of TIP is to submit data.
          <br/>
          You have to provide a valid email address. Your password will be sent to this email address.
          <br/>
          When asked for credentials, enter your full email address (e.g.abc@mail.com) as user name. 
        </small>
      </p>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
      <button class="btn-small btn-primary" type="submit">
        <i class="icon-user icon-white"></i>Register
      </button>
    </div>
    
  </form>
</div>
<!--/.ProfileModal -->