{% extends frontend_layout %}

{% block body %}  
  
  <div class="row-fluid">
    <div class="span12">
      <h2>Plant Trait diversity – Crop Wild Relatives – Landraces</h2>
      <p>TIP is a network of European CWR and Landraces Maecenas condimentum tincidunt fermentum. Sed accumsan erat ut magna cursus quis malesuada elit accumsan. Nulla ac nulla nunc, ut fermentum metus. Nam elementum nisi quis mauris placerat nec aliquam lacus tempor. Ut massa erat, porttitor at tempus at, fermentum vel mi. Phasellus vulputate massa eget tellus vulputate sodales. Aliquam erat volutpat. Aliquam erat volutpat. Sed risus ipsum, viverra at malesuada at, dictum non turpis. Duis sed metus id massa pretium sollicitudin. Sed venenatis congue leo et molestie.</p>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <h3>Main objectives</h3>
      <ul>
        <li>Provide an European documentation of plant traits </li>
        <li>Promote trait use for breeding and biodiversity science </li>
        <li>Support the design of trait models for use</li>
        <li>Provide national inventory information on CWR and landraces</li>
        <li>Promote conservation plans and strategies</li>
        <li>Current state of data warehouse and network</li>
        <li>X? trait records for about 5000 plant species</li>
        <li>400 collaborators from 380 institutes/organizations</li>
        <li>XXX scientific projects requesting plant trait data from TIP</li>
        <li>200 National inventories</li>
        <li>50 conservation strategies in place</li>
      </ul>
    </div>
  </div>
{% endblock %}