{% extends frontend_layout %}

{% block body %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row">
    <div class="span12">
      <div id="logo_conteiner" class="sidewell">
        <img src="/img/pgr-logo.jpg" />
        <img src="/img/TIP.gif" />
      </div>
    </div>
  </div>
{% endblock %}