{% extends frontend_layout %}

{% block body %}
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="row">
    <div class="span12">
      <div class="span4 offset4 sidewell"><h1>Welcome to TIP platform</h1></div>
      <div id="logo_conteiner" class="span4 offset4 sidewell"><img src="/img/TIP-logo.gif" /></div>
    </div>
  </div>
{% endblock %}