<form class="filter_form">
  {% for data in datas %}
    <div class="list">
      {% if data.FORM_TYPE == 'multiselect' %}
        <select multiple="true" size="10">
          {% for value in data.VALUE %}
            <option value="{{ value|replace({' ':'_'}) }}">{{ value }}</option>
          {% endfor %}
        </select>
      {% endif %}
    </div>    
  {% endfor %}
  <input type="submit" value="seacrh" class="btn"/>
</form>