{% include 'sitemap.twig' %}

<ul id="login_form" class="nav pull-right">
  <li>
    <form class="navbar-search pull-left">
      <input type="text" placeholder="Search..." data-source="[&quot;Sweet&quot;,&quot;Clean&quot;,&quot;Popular&quot;,&quot;HTML&quot;,&quot;CSS&quot;,&quot;Free&quot;,&quot;Graphic&quot;,&quot;Colors&quot;,&quot;Cool&quot;,&quot;Simple&quot;]" data-items="4" data-provide="typeahead" class="search-query span3">
    </form>
  </li>
  {% if app.session.get('user') %}
    <li class="divider-vertical"></li>
    <li>
      <div class="btn-group pull-right">
        <a class="btn btn-info" href="{{ path('dashboard') }}">
          <i class="icon-user"></i>
          <span>{{ app.session.get('user').username }}</span>
        </a>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width: 240px">
          <li class="dashboard_page">
            <a data-toggle="modal"  href="#ProfileModal">Profile</a>
          </li>
          <li><a href="{{ path('logout') }}">Sign Out</a></li>
        </ul>
      </div>
    </li>
  {% else %}
    <li>
      <a data-toggle="modal" href="#RegistrationModal">
        <span>Register</span>
      </a>
    </li>
    <li>
      <a data-toggle="modal" href="#LoginModal">
        <span>Login</span>
      </a>
    </li>
  {% endif %}
<!--  <li>
    <a data-toggle="modal" href="#SitemapModal"><i class="icon-th-large"></i></a>
  </li>-->
</ul>