<div class="span11">
  <div id="map_canvas" class="landrace_box"></div>
  <div id="result_detail" class="landrace_box">
    <ul class="thumbnails">
      <li class="span2" id="NICODE" >
        <label for="record_detail_NICODE">National Inventory code</label>
        <span id="record_detail_NICODE"></span>
      </li>
      <li class="span2" id="NIENUMB" >
        <label for="record_detail_NIENUMB">National Inventory edition number</label>
        <span id="record_detail_NIENUMB"></span>
      </li>
      <li class="span2" id="INSTCODE" >
        <label for="record_detail_INSTCODE">Institute code</label>
        <span id="record_detail_INSTCODE"></span>
      </li>
    </ul>
    <ul class="thumbnails">
      <li class="span2" id="GENUS" >
        <label for="record_detail_GENUS">Genus</label>
        <span id="record_detail_GENUS"></span>
      </li>
      <li class="span2" id="SPECIES" >
        <label for="record_detail_SPECIES">Species</label>
        <span id="record_detail_SPECIES"></span>
      </li>
      <li class="span2" id="SUBTAUTHOR" >
        <label for="record_detail_SUBTAUTHOR">Species authority</label>
        <span id="record_detail_SUBTAUTHOR"></span>
      </li>
      <li class="span2" id="TAXREF" >
        <label for="record_detail_TAXREF">Taxonomic references</label>
        <span id="record_detail_TAXREF"></span>
      </li>
      <li class="span2" id="CROPNAME" >
        <label for="record_detail_CROPNAME">Common crop name</label>
        <span id="record_detail_CROPNAME"></span>
      </li>
    </ul>
    <ul class="thumbnails">
      <li class="span2" id="LRRECDATE" >
        <label for="record_detail_LRRECDATE">Landrace in situ recording date</label>
        <span id="record_detail_LRRECDATE"></span>
      </li>
      <li class="span2" id="LRNUMB" >
        <label for="record_detail_LRNUMB">Landrace number</label>
        <span id="record_detail_LRNUMB"></span>
      </li>
      <li class="span2" id="LRNAME" >
        <label for="record_detail_LRNAME">Landrace local name/s</label>
        <span id="record_detail_LRNAME"></span>
      </li>
      <li class="span2" id="FLONGDMS" >
        <label for="record_detail_FLONGDMS">Longitude of farm site</label>
        <span id="record_detail_FLONGDMS"></span>
      </li>
      <li class="span2" id="FLONGDD" >
        <label for="record_detail_FLONGDD">Longitude of farm site</label>
        <span id="record_detail_FLONGDD"></span>
      </li>
      <li class="span2" id="LRSEPSGCODE" >
        <label for="record_detail_LRSEPSGCODE">Geodetic datum</label>
        <span id="record_detail_LRSEPSGCODE"></span>
      </li>
      <li class="span2" id="LRSGPS" >
        <label for="record_detail_LRSGPS">Geographic data recording system</label>
        <span id="record_detail_LRSGPS"></span>
      </li>
      <li class="span2" id="LRSRADIALED" >
        <label for="record_detail_LRSRADIALED">Maximum error distance</label>
        <span id="record_detail_LRSRADIALED"></span>
      </li>
      <li class="span2" id="LRSLATDD" >
        <label for="record_detail_LRSLATDD">Latitude of LR site</label>
        <span id="record_detail_LRSLATDD"></span>
      </li>
      <li class="span2" id="LRSELEVATION" >
        <label for="record_detail_LRSELEVATION">Elevation of LR site</label>
        <span id="record_detail_LRSELEVATION"></span>
      </li>
      <li class="span2" id="FARMERID" >
        <label for="record_detail_FARMERID">Farmer identification number</label>
        <span id="record_detail_FARMERID"></span>
      </li>
      <li class="span2" id="FARMERYB" >
        <label for="record_detail_FARMERYB">Farmer year of birth</label>
        <span id="record_detail_FARMERYB"></span>
      </li>
      <li class="span2" id="FARMHT" >
        <label for="record_detail_FARMHT">Holding/tenancy of the farm/estate</label>
        <span id="record_detail_FARMHT"></span>
      </li>
      <li class="span2" id="EXSECURE" >
        <label for="record_detail_EXSECURE">Safety duplication ex situ</label>
        <span id="record_detail_EXSECURE"></span>
      </li>
      <li class="span2" id="EXDUPL" >
        <label for="record_detail_EXDUPL">Location of ex situ duplicate/s</label>
        <span id="record_detail_EXDUPL"></span>
      </li>
    </ul>
    <ul id='record_detail_more' class="thumbnails"></ul>
  </div>
</div>