{% extends frontend_layout %}

{% block body %}
  <div class="span9">
    <h2>Request data</h2>
    <p>
      TEXT to be drafted.  And an online form to be available.
    </p>
  </div>
  {% include 'data_menu.twig' %}
{% endblock %}