<!-- ------------------------------------------------------------------------- --
  -- SitemapModal															   --
  -- ------------------------------------------------------------------------- -->

<script src="/js/arbor.js" type="text/javascript" language="javascript"></script>
<script src="/js/arbor-tween.js" type="text/javascript" language="javascript"></script>
<script src="/js/graphics.js" type="text/javascript" language="javascript"></script>
<script src="/js/renderer.js" type="text/javascript" language="javascript"></script>

<div class="sitemap modal hide fade" id="SitemapModal">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Sitemap</h2>
      </div>
      <div class="modal-body">
        <canvas height="400" width="1170" id="viewport" class="span12"></canvas>
        <script src="/js/arbor_site_map_setup.js" type="text/javascript" language="javascript"></script>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>