<div class="control-group">
  <label for="genus">Landrace in situ recording date</label>
  <div class="controls">
    <select multiple="true" name="LRRECDATE"></select>
  </div>
</div>


<div class="control-group">
  <label for="genus">Landrace number</label>
  <div class="controls">
    <select multiple="true" name="LRNUMB"></select>
  </div>
</div>


<div class="control-group">
  <label for="genus">Landrace local name/s</label>
  <div class="controls">
    <select multiple="true" name="LRNAME"></select>
  </div>
</div>


<div class="control-group">
  <label for="genus">Landrace language code/s</label>
  <div class="controls">
    <select multiple="true" name="LRLANG"></select>
  </div>
</div>