<form action="" method="post">
  
  <label for"genus">Landrace in situ recording date</label>
  <select multiple="true" name="LRRECDATE">
    
  </select>
  
  <label for"genus">Landrace number</label>
  <select multiple="true" name="LRNUMB">
    
  </select>
  
  <label for"genus">Landrace local name/s</label>
  <select multiple="true" name="LRNAME">
    
  </select>
  
  <label for"genus">Landrace language code/s</label>
  <select multiple="true" name="LRLANG">
    
  </select>
  
  <input type="submit" />
</form>