<form action="" method="post">
  <label for"genus">National Inventory code</label>
  <select multiple="true" name="NICODE">
    
  </select>
  
  <label for"genus">National Inventory edition number</label>
  <select multiple="true" name="NIENUMB">
    
  </select>
  
  <label for"genus">Institute code</label>
  <select multiple="true" name="INSTCODE">
    
  </select>
  
  <input type="submit" />
</form>