<form action="" method="post">
  <label for"genus">Genus</label>
  <select  multiple="true" name="GENUS">
    
  </select>
  <label for"genus">Species</label>
  <select  multiple="true" name="SPECIES">
    
  </select>
  <label for"genus">Species authority</label>
  <select  multiple="true" name="SPAUTHOR">
    
  </select>
  <label for"genus">Subtaxa</label>
  <select  multiple="true" name="SUBTAXA">
    
  </select>
  <label for"genus">Subtaxa authority</label>
  <select  multiple="true" name="SUBTAUTHOR">
    
  </select>
  <label for"genus">Taxonomic references</label>
  <select  multiple="true" name="TAXREF">
    
  </select>
  <label for"genus">Common crop name</label>
  <select  multiple="true" name="CROPNAME">
    
  </select>
  <input type="submit" />
</form>