<form action="" method="post">
  <label for"genus">Farm location: primary administrative subdivision of the country where farm is located</label>
  <select multiple="true" name="FARMFIRSTADMIN">
    
  </select>
  
  <label for"genus">Farm location: secondary administrative subdivision</label>
  <select multiple="true" name="FARMSECONDADMIN">
    
  </select>
  
  <label for"genus">Farm location: lowest administrative subdivision</label>
  <select multiple="true" name="FARMLOWESTADMIN">
    
  </select>
  
  <label for"genus">Location of the nearest known place</label>
  <select multiple="true" name="LOCATION">
    
  </select>
  
  <legend>Farm coordinates</legend>
    <label for"genus">Latitude of farm site</label>
    <select multiple="true" name="FLATDMS">
      
    </select>
    
    <label for"genus">Latitude of farm site</label>
    <select multiple="true" name="FLATDD">
      
    </select>
    
    <label for"genus">Longitude of farm site</label>
    <select multiple="true" name="FLONGDMS">
      
    </select>
    
  <input type="submit" />
</form>