{% extends '::base.html.twig' %}

{% block body %}
  <div class="span9">
    <h2>Request data</h2>
    <p>
      TEXT to be drafted.  And an online form to be available.
    </p>
  </div>
  {% include 'BioversityOntologyBundle:Default:data_menu.html.twig' %}
{% endblock %}