{% form_theme form
    '::error.html.twig'
    '::form_div_layout.html.twig'
    'BioversityTraitBundle:Trait:checkbox_layout.html.twig'
    'BioversityTraitBundle:Trait:range_layout.html.twig'
%}

<blockquote>
    <legend>
        Fields related to <strong>{{ argument }}</strong>
        <span class="label label-inverse">
            <a href="#" onclick="javascript: deleteFields(this);">Delete fields</a>
        </span>
    </legend>
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    {{ form_rest(form) }}
    <div class="clear"></div>
</blockquote>

<div class="clear"></div>