{% extends '::base_partial.html.twig' %}

{% form_theme form
    '::error.html.twig'
    '::form_div_layout.html.twig'
    'BioversitySliderBundle:Slider:custom_checkbox_field.html.twig'
%}

{% block body %}
    <legend>Or search a specific node</legend>
        
    <form id="SliderSearchNode" action="#" method="post" {{ form_enctype(form) }} novalidate>
        <blockquote>
            
            {{ form_errors(form) }}
            
            {{ form_widget(form) }}
            
            {{ form_rest(form) }}
    
            <div class="clear"></div>
        </blockquote>
        
        <div class="form-actions">
            <input id="OntologySearchNode_seacrh" class="btn btn-info" type="submit" value="Search" />
        </div>
    </form>
    
{% endblock %}