body {
  padding-top: 0px !important;
}

#slider_content{
  width: 100% !important;
}

#embedded_content{
  display: none;
}

#SliderModal.modal{
  width: 800px !important;
  heigth: 600px !important;
  left: 35% !important;
}

#SliderModal.modal-body{
  max-height: 600px !important;
}

#SliderModal.modal-body .container{
  width: 100% !important;
}

#SliderModal.modal.fade.in {
    top: 35% !important;
}