*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

body {
  /*padding-top: 100px;*/
  color: #666666;
  font-family: NettoOT,Arial,sans-serif;
  overflow-y: scroll;;
  padding: 0px !important;
  background-color: #1E1E1E;
  /*background: url("/images/PGR_Secure.gif") no-repeat scroll right bottom #FFFFFF;*/
}

.navbar-inner{
	background-color: #fff !important;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) !important;
}

footer{
	background-color: #1E1E1E;
	padding: 30px 70px;
	border-top: 1px solid #DDDDDD;
}

footer h4{
	color: #0093D0 !important;
	font-size: 20px !important;
	font-weight: normal;
}

.footer_menu{
	/*text-align: center;
	margin-right: 15px;
	padding: 5px;*/
	margin: 0 auto;
}

.footer_menu a{
	color: #CCCCCC;
}

.footer_logos{
	border-bottom: 1px solid;
	border-top: 1px solid;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.footer_logos img{
	height: 40px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	padding: 5px;
}

#footer_privacy{
	margin-top: 10px;
	padding-top: 10px;
	color: #999999;
}


h1, h2, h3, h4, h5{ color: #E95F33; }

hr {
    background-color: #D8D8D8;
    border-style: solid none none;
    border-color: #CCCCCC -moz-use-text-color -moz-use-text-color !important;
}

.working{
	background: url('/images/indicator.gif') #fff no-repeat right center !important;
}

#navigation_menu{
	height: 100%;
}

.navigationFirstLevel .root_page{
  border-bottom: 3px solid #990033;
}
.navigationFirstLevel .research_page{
  border-bottom: 3px solid #FFCC00;
}
.navigationFirstLevel .trait_page{
  border-bottom: 3px solid #F1921A;
}
.navigationFirstLevel .static_page{
  border-bottom: 3px solid #669966;
}
.navigationFirstLevel .dashboard_page,
.navigationFirstLevel .conservation_page{
  border-bottom: 3px solid #679EC9;
}

.navigationFirstLevel p{
  border-bottom: 3px solid #898888;
}

.navigationFirstLevel .root_page a:hover{
  color: #990033;
}
.navigationFirstLevel .research_page a:hover{
  color: #FFCC00;
}
.navigationFirstLevel .trait_page a:hover{
  color: #F1921A;
}
.navigationFirstLevel .static_page a:hover{
  color: #669966;
}
.navigationFirstLevel .dashboard_page a:hover,
.navigationFirstLevel .conservation_page a:hover{
  color: #679EC9;
}

#navigation_menu ul{
    margin: 0px !important;
}

#navigationMenu li{
	height:70px;
	list-style:none;
	width:70px;
	color: #B4B4B4;
	display: block;
	font-size: 1.18em;
	font-weight: bold;
	text-align: center;	
	float: left;
}

#navigationMenu li:hover{
	box-shadow:0 0 5px #9ddff5;
	color: #ccc;
}

#navigationMenu li,
.navigationTitle{
	padding:2px;
	/*border-bottom: 1px ridge;*/
	/*text-shadow: 0 1px 0 #000000;*/
}

.navigationTitle{
	height:74px;
}

#navigationMenu span{
	/* Container properties */
	top: 72px;
	width:100%;
	left:0;
	padding:0;
	position:fixed;
	overflow:hidden;
	height: 0;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	/*font-size:18px;*/
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	/*line-height:39px;*/
	text-align: left;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
	
	background: #45484d;
	background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%);
	background: -o-linear-gradient(left,  #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(left,  #45484d 0%,#000000 100%);
	background: linear-gradient(to right,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}

#navigationMenu .navigationFirstLevel{
	display:block;
	position:relative;
	display: block;
	font-size: 14px;
	height: 100%;
	margin: 5px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

#navigationMenu .navigationFirstLevel p{
	float:right;
	margin-right: 5px;
}

#navigationMenu span a{
	text-decoration: none;
}

/* General hover styles */

#navigationMenu span:hover{
	position: fixed;
	top: 72px;
	height: auto;
}

#navigationMenu .navigationFirstLevel:hover span{
	width:100%;
	height: auto;
	/*padding:0 20px;*/
	overflow:visible;
}
#navigationMenu .navigationFirstLevel:hover{
	text-decoration:none;	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -69px;}

/* Blue Button */

#navigationMenu .about { background-position:-69px 0;}
#navigationMenu .about:hover { background-position:-69px -69px;}

/* Orange Button */

#navigationMenu .services { background-position:-69px 0;}
#navigationMenu .services:hover { background-position:-69px -69px;}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}



#content_page{
	background-color: #fff;
	min-height: 650px;
	width: 100% !important;
}
#content_body{
	padding: 10px 50px;
}

.navbar-inner{
	background: none repeat scroll 0 0 #191919;
	height: 72px;
	padding-bottom:2px;
	padding-left:  0px !important;
	padding-right:  0px !important;
	border-bottom: 1px ridge;
}

.navbar .brand{
	font-size: 25px !important;
	padding: 20px 10px !important;
}

.top-search{
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}

.top-search .search-query {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 4px 9px;
    transition: none 0s ease 0s;
}


.top_menu{
  margin-top: 20px;
  padding: 7px;
  text-decoration: none !important;
  font-weight: bold !important;
}

.top_menu:hover{
  color: #ccc;
}

.natinal_inventory a{
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.natinal_inventory a:hover{
  color: #0010F9;
}

.other_information a{
  font-weight: bold;
  text-decoration: none;
}

#tip_chat{
	height: auto;
}

.navbar-inner{
	border: none !important;
	border-radius: 0px !important;
}