*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}

body {
  /*padding-top: 100px;*/
  color: #666666;
  font: 12px arial,sans-serif;
  overflow-y: scroll;
  background-color: #CDCDCD;
}

footer{
	margin: 50px 0px;
}

#navigation_menu{
	position: fixed;
	left: 0px;	  
	height: 100%;
}
#navigation_menu{
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(left,  #7d7e7d 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7d7e7d), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #7d7e7d 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #7d7e7d 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #7d7e7d 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #7d7e7d 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#navigation_menu.bioversity_site_structure_homepage{
	background: #990033; /* Old browsers */
	background: -moz-linear-gradient(left,  #990033 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#990033), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #990033 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #990033 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #990033 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #990033 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990033', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
#navigation_menu.bioversity_site_structure_browse_trait{
	background: #F1921A; /* Old browsers */
	background: -moz-linear-gradient(left,  #F1921A 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F1921A), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #F1921A 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #F1921A 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #F1921A 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #F1921A 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1921A', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
#navigation_menu.bioversity_slider_browse_slider{
	background: #FFCC00; /* Old browsers */
	background: -moz-linear-gradient(left,  #FFCC00 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFCC00), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #FFCC00 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #FFCC00 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #FFCC00 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #FFCC00 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFCC00', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
#navigation_menu.bioversity_site_structure_about,
#navigation_menu.bioversity_site_structure_contact{
	background: #669966; /* Old browsers */
	background: -moz-linear-gradient(left,  #669966 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#669966), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #669966 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #669966 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #669966 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #669966 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669966', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}
#navigation_menu.bioversity_slider_conservaton_strategies,
#navigation_menu.bioversity_slider_national_inventories{
	background: #679EC9; /* Old browsers */
	background: -moz-linear-gradient(left,  #679EC9 0%, #000000 10%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#679EC9), color-stop(10%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #679EC9 0%,#000000 10%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #679EC9 0%,#000000 10%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #679EC9 0%,#000000 10%); /* IE10+ */
	background: linear-gradient(to right,  #679EC9 0%,#000000 10%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#679EC9', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#navigationMenu span{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #7d7e7d;
	-webkit-box-shadow:inset 3px 0px 8px #7d7e7d;
	box-shadow:inset 3px 0px 8px #7d7e7d;
}

#navigationMenu span.bioversity_site_structure_homepage{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #990033;
	-webkit-box-shadow:inset 3px 0px 8px #990033;
	box-shadow:inset 3px 0px 8px #990033;
}
#navigationMenu span.bioversity_site_structure_browse_trait{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #F1921A;
	-webkit-box-shadow:inset 3px 0px 8px #F1921A;
	box-shadow:inset 3px 0px 8px #F1921A;
}
#navigationMenu span.bioversity_slider_browse_slider{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #FFCC00;
	-webkit-box-shadow:inset 3px 0px 8px #FFCC00;
	box-shadow:inset 3px 0px 8px #FFCC00;
}
#navigationMenu span.bioversity_site_structure_about,
#navigationMenu span.bioversity_site_structure_contact{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #669966;
	-webkit-box-shadow:inset 3px 0px 8px #669966;
	box-shadow:inset 3px 0px 8px #669966;
}
#navigationMenu span.bioversity_slider_conservaton_strategies{
	/* inner shadow*/
	-moz-box-shadow:inset 3px 0px 8px #679EC9;
	-webkit-box-shadow:inset 3px 0px 8px #679EC9;
	box-shadow:inset 3px 0px 8px #679EC9;
}

.navigationFirstLevel .root_page{
  border-bottom: 3px solid #990033;
}
.navigationFirstLevel .research_page{
  border-bottom: 3px solid #FFCC00;
}
.navigationFirstLevel .trait_page{
  border-bottom: 3px solid #F1921A;
}
.navigationFirstLevel .static_page{
  border-bottom: 3px solid #669966;
}
.navigationFirstLevel .dashboard_page,
.navigationFirstLevel .conservation_page{
  border-bottom: 3px solid #679EC9;
}

.navigationFirstLevel .root_page a:hover{
  color: #990033;
}
.navigationFirstLevel .research_page a:hover{
  color: #FFCC00;
}
.navigationFirstLevel .trait_page a:hover{
  color: #F1921A;
}
.navigationFirstLevel .static_page a:hover{
  color: #669966;
}
.navigationFirstLevel .dashboard_page a:hover,
.navigationFirstLevel .conservation_page a:hover{
  color: #679EC9;
}

#navigation_menu ul{
    margin: 0px !important;
}

#navigationMenu li{
	height:70px;
	list-style:none;
	width:70px;
	color: #B4B4B4;
	display: block;
	font-size: 1.18em;
	font-weight: bold;
	text-align: center;
}


#navigationMenu li:hover{
	box-shadow:0 0 5px #9ddff5;
	color: #ccc;
}

#navigationMenu li,
.navigationTitle{
	padding:2px;
	border-bottom: 1px ridge;
	text-shadow: 0 1px 0 #000000;
}

.navigationTitle{
	height:74px;
}

#navigationMenu span{
	/* Container properties */
	top: -4px;
	width:0;
	left:74px;
	padding:0;
	position:fixed;
	overflow:hidden;
	height: 100%;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;
	text-align: left;
	
	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
	
	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
	
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(left,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to right,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
}

#navigationMenu .navigationFirstLevel{
	display:block;
	position:relative;
	display: block;
	font-size: 14px;
	height: 100%;
	margin: 5px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
}

#navigationMenu span a{
	text-decoration: none;
}

/* General hover styles */

#navigationMenu span:hover{
	position: fixed;
	top: -4px;
	height: 100%;
}

#navigationMenu .navigationFirstLevel:hover span{
	width:auto;
	padding:0 20px;
	overflow:visible;
}
#navigationMenu .navigationFirstLevel:hover{
	text-decoration:none;	
	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
}

/* Green Button */

#navigationMenu .home {	background-position:0 0;}
#navigationMenu .home:hover {	background-position:0 -69px;}

/* Blue Button */

#navigationMenu .about { background-position:-69px 0;}
#navigationMenu .about:hover { background-position:-69px -69px;}

/* Orange Button */

#navigationMenu .services { background-position:-69px 0;}
#navigationMenu .services:hover { background-position:-69px -69px;}

/* Yellow Button */

#navigationMenu .portfolio { background-position:-114px 0;}
#navigationMenu .portfolio:hover{ background-position:-114px -39px;}

/* Purple Button */

#navigationMenu .contact { background-position:-152px 0;}
#navigationMenu .contact:hover { background-position:-152px -39px;}



#content_page{
	margin-left: 75px;
}
#content_body{
	padding: 10px 50px;
}

.navbar-inner{
	background: none repeat scroll 0 0 #191919;
	height: 72px;
	padding-bottom:2px;
	border-bottom: 1px ridge;
}

.navbar .brand{
	color: #fff !important;
	font-size: 25px !important;
	padding: 20px !important;
}

.top-search{
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
}

.top-search .search-query {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    padding: 4px 9px;
    transition: none 0s ease 0s;
}


.top_menu{
  margin-top: 20px;
  padding: 7px;
  text-decoration: none !important;
  font-weight: bold !important;
}

.top_menu:hover{
  color: #ccc;
}

.natinal_inventory a{
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.natinal_inventory a:hover{
  color: #fff;
}