body {
  padding-bottom: 40px;
  padding-top: 140px;
  padding-bottom: 100px;
  background: url("/img/bg_yt.png") repeat scroll 0 0 #EBEBEB;
  color: #666666;
  font: 12px arial,sans-serif;
  overflow-y: scroll;
}

h1,h2,h3,h4,h5{
  text-transform: uppercase;
}

.navbar-inner{
  color: #FFFFFF;
  background-color: #6891E7;
  background-image: -moz-linear-gradient(center top , #4495E7 0px, #0053A6 100%);
  border-color: #0053A6 #0053A6 #000000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35) inset;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.nav-tabs{
  border: none !important;
}
.nav-tabs a{
  text-decoration: none !important;
  text-transform: uppercase;
}

.nav-tabs li{
  background-color: #454545 !important;
  background-image: -moz-linear-gradient(center top , #383838 0px, #151515 100%) !important;
  border-color: #151515 #151515 #000000 !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset !important;
  outline: 0 none !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) !important;
  border-radius: 2px 2px 2px 2px !important;
  border-style: solid !important;
  border-width: 1px !important;
  cursor: pointer !important;
  font-size: 11px !important;
  font-weight: bold !important;
  height: 2.95em !important;
  outline: 0 none !important;
  vertical-align: middle !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  display: inline-block;
  height: 2.78em;
  line-height: 2.8em;
  text-decoration: none;
  margin-left: 5px;
}
.nav-tabs li.active{
  background-color: #000 !important;
  background-image: -moz-linear-gradient(center top , #151515 0px, #383838 100%) !important
}
.nav-tabs li.active a{
  color: #666666 !important;
  font-weight: bolder;
}

button{
  background: -moz-linear-gradient(center top , #FFFFFF 0px, #E0E0E0 100%) repeat scroll 0 0 #F6F6F6;
  border-radius: 3px 3px 3px 3px;
  /*box-shadow: 0 0 1px #FFFFFF inset;*/
  /*color: #555555 !important;*/
  /*display: block;*/
  font-size: 11px !important;
  min-height: 34px;
  overflow: hidden !important;
  padding: 8px !important;
  position: relative;
  /*text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF !important;*/
  z-index: 2;
}

circle {
  stroke-width: 1.5px;
}

line {
  stroke: #999;
}

#viewport{
  border: 1px solid #eee;
  background-color: rgba(255,255,255,0.5);
}

#logo_conteiner{
  text-align: center;
}

p{
  text-align: justify;
}

#tip_logo{
  width: 45px;
  float: left;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

#login_form li a.btn{
  margin-top: 0px !important
}

#login_form li a{
  text-decoration: none;
}

.menu_top{
  padding-top:20px;
}

.menu_top_inner{
  padding-top:10px;
  padding-bottom:5px;
}

.first_row .nav.pull-right{
  margin-bottom: 10px;
}

#sitemap.linkable {
    cursor: pointer;
}

.root_page{
  border-bottom: 3px solid #990033;
}
.research_page{
  border-bottom: 3px solid #FFCC00;
}
.trait_page{
  border-bottom: 3px solid #F1921A;
}
.static_page{
  border-bottom: 3px solid #669966;
}
.dashboard_page{
  border-bottom: 3px solid #679EC9;
}
.nav_menu_top .active a{
  color: #FFF !important;
  font-weight: bold !important;
}
.static_page.active a{
  background-color: rgba(102, 153, 102, 0.5);
}
.root_page.active a{
  background-color: rgba(153, 0, 51, 0.5);
}
.research_page.active a{
  background-color: rgba(255, 204, 0, 0.5);
}
.trait_page.active a{
  background-color: rgba(241, 146, 26, 0.5);
}
.dashboard_page.active a{
  background-color: rgba(103, 158, 201, 0.5);
}

.spacer{
  line-height: 10px;
}
.clear{
  clear: both;
}

#data_menu{
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  background: none repeat scroll 0 0 #E3E3E3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  padding: 4px 0;
  position: relative;
  z-index: 0;
}

#data_menu a{
  color: #333333;
  font-weight: bolder;
  text-decoration: none;
}

#data_menu .active{
  background-color: rgba(51, 102, 153, 0.5);
}
#SitemapModal{
  margin: 0 auto;
  left: auto !important;
  top: 120px !important;
  width: 90% !important;
}

#SitemapModal .modal-body{
  height: 500px !important;
  max-height: none !important;
  overflow-y: visible;
  padding: 0px !important;
}

.lengh_btn{
  margin-top: 5px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
}
.lengh_btn:hover{
  font-weight: bold !important;
}

.span12{
  padding: 20px;
}

#contact_page a{
  color: #000 !important;
}

footer p{
  color: #eee !important;
}

.closed{
  display: none;
}

.list{
  float: left;
}

.filter_form{
  margin-top: 5px;
  margin-left: 5px;
}

.landrace_box{
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  overflow: hidden;
  background: none repeat scroll 0 0 #E3E3E3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  padding: 4px;
  position: relative;
  z-index: 0;
  margin-top: 5px;
}

div.open.landrace_box form{
  float: left;
  position: relative;
}

div.open.landrace_box .form_result{
  position: absolute;
  font-size: 12px;
}

#result_list .label,
#form_result .label{
  cursor: pointer;
}

#form_result span{
  float: right;
}

#form_result label{
  float: left;
}

.landrace_box .control-group{
  float: left;
}

.landrace_box .control-group select{
  margin-right: none !important;
}

#landrace_count{
  display: none;
}
#cwr_count{
  display: none;
}
#trait_count{
  display: none;
}

#result_detail,
#result_list,
#map_canvas{
  display: none;
}

#map_canvas{
  height:150px;
}

#result_list li{
  border-bottom: 1px solid #CCCCCC;
  line-height: 20px;
}

#result_list li{
  border-bottom: 1px solid #CCCCCC;
  font-size: 20px;
}

#result_detail li{
  border: 1px solid #CCCCCC;
  font-size: 20px;
  padding: 5px;
  min-height: 70px;
  margin-bottom: 5px;
}

#form_result_container{
  position: relative;
  top: 0px;
}

/*.no_detail_find,
.no_detail_find label{
  background-color: #E2E2E2;
  color: #FFF;
}*/
/*
#result_detail,
#map_canvas{
  height:150px;
  float: left;
  width: 48%;
}#map_canvas{
  margin-right: 20px;
}
*/