body {
  padding-bottom: 40px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: rgba(156, 255, 0, 0.05);
}

circle {
  stroke-width: 1.5px;
}

line {
  stroke: #999;
}

#viewport{
  border: 1px solid #eee;
  background-color: rgba(255,255,255,0.5);
}

#logo_conteiner{
  text-align: center;
}

p{
  text-align: justify;
}

#tip_logo{
  width: 45px;
  float: left;
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin: 10px;
}

.menu_top{
  padding-top:20px;
}

.menu_top_inner{
  padding-top:10px;
  padding-bottom:5px;
}

.first_row .nav.pull-right{
  margin-bottom: 10px;
}

#sitemap.linkable {
    cursor: pointer;
}

.root_page{
  border-bottom: 3px solid #990033;
}
.research_page{
  border-bottom: 3px solid #336699;
}
.static_page{
  border-bottom: 3px solid #669966;
}
.dashboard_page{
  border-bottom: 3px solid #679EC9;
}
.active a{
  color: #FFF !important;
  font-weight: bold !important;
}
.static_page.active a{
  background-color: rgba(102, 153, 102, 0.5);
}

.root_page.active a{
  background-color: rgba(153, 0, 51, 0.5);
}
.research_page.active a{
  background-color: rgba(51, 102, 153, 0.5);
}
.dashboard_page.active a{
  background-color: rgba(103, 158, 201, 0.5);
}
.spacer{
  line-height: 10px;
}
.clear{
  clear: both;
}

#data_menu .active{
  background-color: rgba(51, 102, 153, 0.5);
}
/*.sitemap{
  left: 25% !important;
  width: 1024px !important;
}*/