{% extends '::base.html.twig' %}

{% block title %}
  Welcome to Bioversity repository  
{% endblock %}

{% block description %}
  It's so easy
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}

  <!--CONTAINER-->
  <div id="container"></div>

{% endblock %}