{% extends '::base.html.twig' %}

{% block body %}
  <div class="span9">
  {% include 'BioversitySiteStructureBundle:SiteStructure:credential_request.html.twig' %}
    <h2>Contribute data</h2>
    <p>
      You are welcome to contribute data to the TIP initiative at any time. Benefits of submitting data are potential……. 
      <br/>
      The status of data contributed to TIP is defined by the Intellectual Property Guidelines …..condition to be defined…. 
      <br/>
      In case of data contribution, we need some additional information about the dataset and traits. Auxiliary information like…….. is greatly appreciated and will improve the value of your data for re-use. The information about the dataset and traits is consistent with the requirements defined by the DOC (to be drafted). 
      <br/>
      There are no special requirements for the format of data contribution. Trait data are accepted in any way as long as they are explicitly related to plant species. The preferred format is MS Excel with species information, traits and auxiliary data in columns and observations in rows. 
    </p>
    <p>
      The best way to submit data is sending them by email to (address here). 
      <br/>
      If you would like to learn more about TIP or contribute a dataset to the TIP database, please contact us! 
    </p>
    {% if app.session.get('user') %}      
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Step 1</a></li>
        <li><a>Step 2</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
            <form>
              <input id="datasets" class="input-large" type="file" />
              <input class="btn" type="submit" value="submit" />
            </form>
          </div>
          <div class="tab-pane" id="tab2">
          </div>
        </div>
      </div>
    {% endif %}
  </div>
  {% include 'BioversitySiteStructureBundle:SiteStructure:data_menu.html.twig' %}
{% endblock %}