{% extends '::base.html.twig' %}

{% block body %}  
  <div id="contact_page">
      <h3>Contact</h3>
      <ul class="thumbnails">
        <li>
          <img src="{{ asset('/images/dias.jpg') }}" />
          <p>
            <i class="icon-user"></i>Sonia Dias
            <br/>
            <i class="icon-bookmark"></i>Project Coordination
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">s.dias@cgiar.org</a>
          </p>
        </li>
        <li>
          <img src="{{ asset('/images/milko.jpg') }}" />
          <p>
            <i class="icon-user"></i>Milko Škofič
            <br/>
            <i class="icon-bookmark"></i>Web Design
            <br/>
            <i class="icon-envelope"></i><a href="#mailto" title="send email">m.skofic@cgiar.org</a>
          </p>
        </li>
      </ul>
    <hr>
      <h3>Feedback</h3>
      <p>
        If you've found or this web site useful or would like to send any comment on the TIP initiative please e-mail us or provide feedback in the forum below. We'd like to know how the TIP website is being used.<br/>
        If you have cited the TIP initiative in a publication, please send us that reference. This will help to document that the TIP initiative has value, and will help if / when we look for apitional funding.<br/>
        Thank you.
      </p>
    <hr>
      <h3>Forum</h3>
      <p><a href="#" title="TipForum">Here</a> you can participate in the discussion (Registration required).</p>
  </div>
{% endblock %}