{% extends '::base.html.twig' %}

{% block body %}  
  <div class="row">
    <div class="span12">
      <div>
        <div class="span9">
          <div class="sidewell">
            <p>
              The TIP database contains public and non- displayed data. The public data are free to be downloaded; only a registration is needed for web security reasons. However, the majority of data in the TIP database is non-displayed. These data are available upon request. 
            </p>
            <p>
              The TIP Data Portal enables you to search the TIP database (Data Search) and to download the <strong>free data</strong>.
            </p>
            <p>
              The TIP Data Portal also supports the submission of a proposal to request <strong>non-displayed data</strong> and provides information how to contribute data.
            </p>
          </div>
        </div>
        {% include 'BioversitySiteStructureBundle:SiteStructure:data_menu.html.twig' %}
      </div>
    </div>
  </div>
{% endblock %}