{% extends '::base.html.twig' %}

{% block body %}
  <div class="span9">
    <h2>Datasets</h2>
    <p>
      List of data sets + name of institutes+ details (traits, species, map), curator
    </p>
  </div>
  {% include 'BioversitySiteStructureBundle:SiteStructure:data_menu.html.twig' %}
{% endblock %}