<tr>
  <th>
      <small><i class="icon-arrow-right"></i> older file version</small>
  </th>
  <td>
    <a href="downloads/{{ folder }}/{{ file }}" class="btn btn-small pull-right">
      <i class="icon-file"></i> {{ file }}
    </a>
  </td>
</tr>