{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <h2>Links to other information systems</h2>
        <p>
            <ol class="natinal_inventory">
                <li><a target="_blank" href="http://eadb.jki.bund.de/eadb/index.php?page=query" title="Go to ECPGR Avena Database (EADB)">AVENA</a></li>
                <li><a target="_blank" href="http://idbb.jki.bund.de/idbb/index.php?page=query" title="Go to International Database for Beta">BETA</a></li>
                <li><a target="_blank" href="http://documents.plant.wur.nl/cgn/pgr/brasedb/brasresgen.htm" title="Go to The ECPGR Brassica Database">BRASSICA</a></li>
                <li><a target="_blank" href="http://www.pgrforum.org/cwris/cwris.asp" title="Go to The PGR Forum Crop Wild Relative Information System">CWRIS</a></li>
                <li><a target="_blank" href="http://ensconet.maich.gr/" title="Go to The European Native Seed Conservation Network">ENSCONET</a></li>
                <li><a target="_blank" href="http://portal.eufgis.org/" title="Go to European Information System on Forest Genetic Resources">EUFGIS</a></li>
                <li><a target="_blank" href="http://eurisco.ecpgr.org" title="Go to The European Plant Genetic Resources Search Catalogue">EURISCO</a></li>
                <li><a target="_blank" href="http://www.genesys-pgr.org/" title="Go to The Gateway to Genetic Resources">GENESYS</a></li>
                <li><a target="_blank" href="http://www.ars-grin.gov/cgi-bin/npgs/html/desclist.pl?145" title="Go to GRIN-USDA">GRIN-USDA </a></li>
                <li><a target="_blank" href="http://www.ecpgr.cgiar.org/germplasm_databases/list_of_germplasm_databases/crop_databases/crop_database_windows/medicago_annual.html" title="Go to The ECPGR Medicago annual Database">MEDICAGO</a></li>
                <li><a target="_blank" href="http://www.ecpgr.cgiar.org/germplasm_databases/list_of_germplasm_databases/crop_databases/crop_database_windows/medicago_per.html" title="Go to The ECPGR Medicago perennial Database">MEDICAGO</a></li>
                <li><a target="_blank" href="http://www.ars-grin.gov/cgi-bin/npgs/html/desclist.pl?145" title="Go to USDA">MEDICAGO</a></li>
                <li><a target="_blank" href="http://aegro.bafz.de/index.php?id=168" title="Go to Population Level Information System, a core functionality of the AEGRO project">PLIS</a></li>
            </ol>
        </p>
    </div>
{% endblock %}