{% extends '::base_menu_right.html.twig' %}

{% block content_page %}
    <div class="span7">
        <h2>NATIONAL INVENTORIES</h2>
        <p>
            <legend>Crop wild relatives in national inventories</legend>
            <ol class="natinal_inventory">
                <li>
                    <a target="_blank" href="http://geneticresources.biodiversityireland.ie/crop-wild-relatives/" title="Go to geneticresources.biodiversityireland.ie">Ireland</a>
                </li>
                <li>
                    <a target="_blank" href="http://pgrdeu.genres.de/index.php?tpl=is_population" title="Go to pgrdeu.genres.de">Germany</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.infoflora.ch/" title="Go to www.infoflora.ch">Switzerland</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.grfa.org.uk/search/plants/index.html" title="Go to www.grfa.org.uk">United Kingdom</a>
                </li>
            </ol>
        </p>
        <p>
            <legend>Landraces national inventories</legend>
            <ol class="natinal_inventory">
                <li>
                    <a target="_blank" href="http://www.iao.florence.it/ojs/index.php/JAEID/article/view/27" title="Go to www.iao.florence.it">Italy</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.sasa.gov.uk/content/landrace-inventory-uk" title="Go to www.sasa.gov.uk">United Kigdom</a>
                </li>
            </ol>
        </p>
    </div>
{% endblock %}